<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% if page.categoryname and page.categoryname != "" and page.categoryname != page.title %}{{ page.categoryname }}: {% endif %}{{ page.title }}</title>
  <meta name="author" content="Tony Garnock-Jones">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">{{
  page.extra_html_headers | liquify }}{{
  layout.extra_html_headers | liquify }}
</head>

<body>
  <main class="content">
    {{ content }}
  </main>
</body>

</html>
